<h2 i18n="Account header|Account name@@accountHeader">Account Details</h2>

<div><label>id: </label> {{ selectedAccount.id }}</div>

<div><label>name: </label> {{ selectedAccount.name }}</div>

<div><label>email: </label> {{ selectedAccount.email }}</div>

<div><label>telephone: </label> {{ selectedAccount.telephone }}</div>

<div><label>website: </label> {{ selectedAccount.website }}</div>

<div><label>parentAccount: </label> {{ selectedAccount.parentAccount }}</div>

<div><label>contacts: </label> {{ selectedAccount.contacts }}</div>

<div><label>createdOn: </label> {{ selectedAccount.createdOn }}</div>

<div><label>modifiedOn: </label> {{ selectedAccount.modifiedOn }}</div>

<a [routerLink]="['/accounts', selectedAccount.id, 'edit']" class="btn btn-primary" i18n="edit button|edit@@editButton">Edit</a>
<a (click)="onDestroy()" class="btn btn-danger" i18n="destroy button|destroy@@destroyButton">Destroy</a>
