<rz-content #content1 container="main">
  <rz-heading #pageTitle size="H1" text="Add Account Relation Type">
  </rz-heading>
  <div class="row">
    <div class="col-md-12">
      <rz-form #form0 repeat="horizontal" (cancel)="form0Cancel($event)" (submit)="form0Submit($event)">
        <rz-string-form-field [maxLength]="100" property="Name" [required]="true" requiredText="is required" title="Name" type="string">
        </rz-string-form-field>
        <rz-string-form-field [maxLength]="100" property="DisplayName" [required]="true" requiredText="is required" title="Display Name" type="string">
        </rz-string-form-field>
      </rz-form>
    </div>
  </div>
</rz-content>
